<a href="https://colab.research.google.com/github/Satheraviprasad570/PASSWORD-GENERATOR/blob/main/Python_final_ProjectSolution_ravi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import files
data = files.upload()

Saving customers.csv to customers (1).csv

In [ ]:
import pandas as pd

In [ ]:
from google.colab import files
data2 = files.upload()

Saving products.csv to products.csv

In [ ]:
from google.colab import files
data3 = files.upload()

Saving transactions.csv to transactions.csv

In [ ]:
#headers for each dataframe 
mycustomers_list = ['custno','firstname','lastname','gender','age','profession','contactNo',
'emailId','city','state','isActive','createdDate','UpdatedDate']
products_list=['productno','productName','Description','isActive','createdDate','UpdatedDate']
transactions_header = ['txnno', 'txndate','custno', 'amount','productno', 'spendby']

In [ ]:
#dataframe creation and applying header for it 
customers_ = pd.read_csv('customers (1).csv',names=mycustomers_list)
products_ = pd.read_csv('products.csv',names=products_list)
transactions_ = pd.read_csv('transactions.csv',names=transactions_header)

In [ ]:
#usecase no 1
customers_.head()

,custno,firstname,lastname,gender,age,profession,contactNo,emailId,city,state,isActive,createdDate,UpdatedDate
0,1,Leslie,Bass,F,27,B,37307,endslost@everyma1l.org,Gibson,Dellwood,Y,2017-09-21 12:38:22,2017-10-18 12:12:28
1,2,Judy,Burks,M,53,S,84759,rfleming@hotma1l.co.uk,Suwanee,Trabue,Y,2017-05-22 05:29:22,2017-10-18 12:12:28
2,3,Marsha,Doyle,F,48,B,80932,arethe53@ma1lbox.net,Perry,Moxadarla,Y,2017-09-03 12:11:29,2017-10-18 12:12:28
3,4,Alexis,Battle,M,27,S,71701,ofcame@ma1lbox.org,Morven,Dennis,Y,2017-02-16 04:05:35,2017-10-18 12:12:28
4,5,Martha,Combs,F,49,B,83947,camedied@everyma1l.us,Ocilla,Greenwood,Y,2017-05-15 07:34:35,2017-10-18 12:12:28

In [ ]:
#usecase no 1
products_.head()

,productno,productName,Description,isActive,createdDate,UpdatedDate
0,1,Product1,pgqorighfa,Y,2017-04-03 07:58:55,2017-10-18 12:12:38
1,2,Product2,lmndaaweth,Y,2017-09-21 12:38:31,2017-10-18 12:12:38
2,3,Product3,urifeubrhh,Y,2017-09-08 10:32:12,2017-10-18 12:12:38
3,4,Product4,rlpcjxfarp,Y,2017-05-22 05:29:27,2017-10-18 12:12:38
4,5,Product5,hzcpozsgfc,Y,2017-02-02 08:40:29,2017-10-18 12:12:38

In [ ]:
#usecase no 1
transactions_.head()

   txnno              txndate  custno  amount  productno spendby
0      1  2017-10-18 12:31:45     923    2559        376    Card
1      2  2017-10-18 12:31:45     219    1706        151    Card
2      3  2017-10-18 12:31:45     927    3462        707    Cash
3      4  2017-10-18 12:31:45     806     865        539    Card
4      5  2017-10-18 12:31:45     958    2494         25    Card

In [ ]:
#usecase no 02 here is i am unable to fetch only those customers but i got the bool value of all of it 
usecases_2 = transactions_.groupby('custno').count()
usecases_2
counted = usecases_2>=4
usecases_2.loc[(usecases_2['productno'] >= 4)]
#ed

        txnno  txndate  amount  productno  spendby
custno
4           4        4       4          4        4
86          4        4       4          4        4
167         4        4       4          4        4
187         4        4       4          4        4
237         4        4       4          4        4
241         5        5       5          5        5
321         4        4       4          4        4
326         4        4       4          4        4
331         4        4       4          4        4
356         4        4       4          4        4
391         5        5       5          5        5
537         4        4       4          4        4
558         4        4       4          4        4
578         4        4       4          4        4
709         4        4       4          4        4
735         4        4       4          4        4
753         4        4       4          4        4
828         4        4       4          4        4
989         4        4       4          4        4

In [ ]:
#usecase no 02  i did it with diffrent logic for only those customers who purchased more than 3 products 
#here 2nd column is actully count of purchase
from numpy.ma.core import count
usecases_2 = transactions_.groupby('custno').agg({'custno':'count'})
df2 = usecases_2.loc[(usecases_2['custno'] >= 4)]
df2

        custno
custno
4            4
86           4
167          4
187          4
237          4
241          5
321          4
326          4
331          4
356          4
391          5
537          4
558          4
578          4
709          4
735          4
753          4
828          4
989          4

In [ ]:
#usecase no 3
usecases_3 = transactions_.groupby('productno').count()
counted = usecases_3.sort_values(by = 'custno', ascending =False)
#counted.head()
counted.head()

           txnno  txndate  custno  amount  spendby
productno
82             5        5       5       5        5
768            5        5       5       5        5
900            5        5       5       5        5
427            5        5       5       5        5
233            4        4       4       4        4

In [ ]:
#usecase no 4
usecases_4 = transactions_.groupby('amount').count()
counted = usecases_4.sort_values(by ='custno', ascending =False)
counted.head()

        txnno  txndate  custno  productno  spendby
amount
2822        3        3       3          3        3
3466        3        3       3          3        3
3181        3        3       3          3        3
2364        2        2       2          2        2
3423        2        2       2          2        2

In [ ]:
#usecase no 5
usecases_5 =customers_['profession'].unique()
print('unique professions of customers are ...', usecases_5)
print('total unique professions of cutomers are ', len(usecases_5))

unique professions of customers are ... ['B' 'S']
total unique professions of cutomers are  2

In [ ]:
#usecase no 6
high_age=customers_['age'].max()
print("highest age amoung the customer's database is ",high_age)

highest age amoung the customer's database is  64

In [ ]:
customer_df1 = customers_[['custno','gender','age','profession','contactNo',]]
product_df1 =products_[['productno','productName']]
transactions_df1=transactions_[['txndate','spendby','amount']]

In [ ]:
# usecase no 07
x = pd.concat([customer_df1,product_df1,transactions_df1],axis =1)
x.set_index('custno',inplace =True)
x.iloc[int(input('enter customer number '))-1]

enter customer number 923

gender                           F
age                             46
profession                       B
contactNo                    25436
productno                      923
productName             Product923
txndate        2017-10-18 12:31:46
spendby                       Card
amount                        1948
Name: 923, dtype: object

In [ ]:
from google.colab import files
psv = files.upload()

Saving customers.txt to customers.txt

In [ ]:
#usecase 08
psv_customers_df = pd.read_csv('customers.txt',sep='|',names=mycustomers_list)
psv_customers_df.head()

,custno,firstname,lastname,gender,age,profession,contactNo,emailId,city,state,isActive,createdDate,UpdatedDate
0,1,Leslie,Bass,F,27,B,37307,endslost@everyma1l.org,Gibson,Dellwood,Y,2017-09-21 12:38:22,2017-10-18 12:12:28
1,2,Judy,Burks,M,53,S,84759,rfleming@hotma1l.co.uk,Suwanee,Trabue,Y,2017-05-22 05:29:22,2017-10-18 12:12:28
2,3,Marsha,Doyle,F,48,B,80932,arethe53@ma1lbox.net,Perry,Moxadarla,Y,2017-09-03 12:11:29,2017-10-18 12:12:28
3,4,Alexis,Battle,M,27,S,71701,ofcame@ma1lbox.org,Morven,Dennis,Y,2017-02-16 04:05:35,2017-10-18 12:12:28
4,5,Martha,Combs,F,49,B,83947,camedied@everyma1l.us,Ocilla,Greenwood,Y,2017-05-15 07:34:35,2017-10-18 12:12:28

In [ ]:
from google.colab import files
psv2 = files.upload()

Saving products.txt to products.txt

In [ ]:
#usecase 08
psv_products_df = pd.read_csv('products.txt',sep = '|',names=products_list)
psv_products_df.head()

,productno,productName,Description,isActive,createdDate,UpdatedDate
0,1,Product1,pgqorighfa,Y,2017-04-03 07:58:55,2017-10-18 12:12:38
1,2,Product2,lmndaaweth,Y,2017-09-21 12:38:31,2017-10-18 12:12:38
2,3,Product3,urifeubrhh,Y,2017-09-08 10:32:12,2017-10-18 12:12:38
3,4,Product4,rlpcjxfarp,Y,2017-05-22 05:29:27,2017-10-18 12:12:38
4,5,Product5,hzcpozsgfc,Y,2017-02-02 08:40:29,2017-10-18 12:12:38

In [ ]:
from google.colab import files
psv3 = files.upload()

Saving transactions.txt to transactions.txt

In [ ]:
#usecase 08
psv_transactions_df = pd.read_csv('transactions.txt',sep='|',names=transactions_header)
psv_transactions_df.head()

   txnno              txndate  custno  amount  productno spendby
0      1  2017-10-18 12:31:45     923    2559        376    Card
1      2  2017-10-18 12:31:45     219    1706        151    Card
2      3  2017-10-18 12:31:45     927    3462        707    Cash
3      4  2017-10-18 12:31:45     806     865        539    Card
4      5  2017-10-18 12:31:45     958    2494         25    Card

In [ ]:
from google.colab import files
json1 =files.upload()

Saving products.json to products.json

In [ ]:
#usecase no 09
df_products_json = pd.read_json('products.json',lines= True)
df_products_json.head()

   productno     productName Description  isActive createdDate UpdatedDate
0        100        Vauxhall        four         2  2016-11-21  2017-11-09
1        101          Toyota         six         2  2017-10-03  2017-11-13
2        102  General Motors         two         1  2017-09-18  2017-11-03
3        103         Renault       eight         2  2017-10-05  2017-11-13
4        104        Kenworth       three         1  2017-05-03  2017-11-04

In [ ]:
from google.colab import files
json2 =files.upload()

Saving customers.json to customers (2).json

In [ ]:
#usecase no 09
df_customers_json = pd.read_json('customers (2).json',lines=True)
df_customers_json.head()

,custno,firstname,lastname,gender,age,profession,contactNo,emailId,city,state,isActive,createdDate,UpdatedDate
0,1,Dai,Noble,2,53,Human Resources,1644101928099,eu.lacus.Quisque@loremac.com,Berlin,Berlin,1,2017-03-01,2018-08-25
1,2,Kay,Wise,2,26,Public Relations,1674031917099,ridiculus@Sednunc.ca,Oldenzaal,Overijssel,2,2017-04-10,2018-08-30
2,3,Amir,Pace,1,43,Customer Relations,1636050509999,quam.Pellentesque@erat.edu,Cobourg,Ontario,2,2017-03-04,2018-09-18
3,4,Sebastian,Lopez,2,32,Customer Relations,1666010108899,magna@venenatis.net,Te Awamutu,NI,1,2016-12-17,2018-09-12
4,5,Brian,Maddox,1,40,Quality Assurance,1646080399299,ac.facilisis@Duis.com,Greater Sudbury,Ontario,2,2017-02-18,2018-05-13

In [ ]:
from google.colab import files
json3 =files.upload()

Saving transactions.json to transactions.json

In [ ]:
#usecase no 9
df_transactions_json = pd.read_json('transactions.json',lines = True)
df_transactions_json.head()

   txnno     txndate  custno  amount  productno  spendby
0      1  2018-07-31      71     181         19        2
1      2  2017-04-02      44     401         48        2
2      3  2018-01-31      45    1808         44        2
3      4  2018-04-02      62      65         22        2
4      5  2017-08-17      88    1149         74        2

In [ ]:
from google.colab import files
xml1 =files.upload()

Saving customers.xml to customers.xml

In [ ]:
#usecase no 10
df_customers_xml = pd.read_xml('customers.xml')
df_customers_xml.head()

,custno,firstname,lastname,gender,age,profession,contactNo,emailId,city,state,isActive,createdDate,UpdatedDate
0,1,Teegan,Hubbard,2,33,Human Resources,1681121691699,nibh.Quisque@placerat.com,Galashiels,Selkirkshire,1,2016-12-07,2018-09-05
1,2,Deacon,Briggs,2,54,Customer Relations,1631082682999,facilisis.eget@Nullaeu.com,Lens-Saint-Remy,LU,1,2017-04-26,2018-06-04
2,3,Mallory,Shelton,1,57,Customer Relations,1627011572699,Curabitur.ut@Nullatempor.edu,North Shore,NI,1,2017-01-02,2018-08-01
3,4,Quinn,Clements,2,43,Media Relations,1618122268999,metus.Vivamus.euismod@urna.edu,Heredia,H,1,2017-02-11,2018-07-18
4,5,Arthur,Hurst,2,41,Tech Support,1681021022799,in@commodoipsum.org,San Diego,Cartago,2,2017-03-30,2018-05-19

In [ ]:
from google.colab import files
xml2 =files.upload()

Saving products.xml to products.xml

In [ ]:
#usecase no 10
df_products_xml = pd.read_xml('products.xml')
df_products_xml.head()

   productno     productName Description  isActive createdDate UpdatedDate
0        100  Hyundai Motors       eight         2  2017-10-01  2017-11-04
1        101           Honda       eight         1  2017-04-10  2017-11-11
2        102             GMC       three         2  2017-02-09  2017-11-17
3        103           Lexus       eight         2  2017-06-01  2017-11-04
4        104           Smart        five         2  2017-08-10  2017-11-16

In [ ]:
from google.colab import files
xml3 =files.upload()

Saving transactions.xml to transactions.xml

In [ ]:
#usecase no 10
df_transactions_xml = pd.read_xml('transactions.xml')
df_transactions_xml.head()

   txnno     txndate  custno  amount  productno  spendby
0      1  2018-09-16       6     576         73        1
1      2  2018-02-11      96    1038         40        2
2      3  2017-06-13      17     673          2        1
3      4  2017-07-25      89    1284        100        2
4      5  2017-06-15       9    1685         56        2